.invoice {
  position: relative;
  width: 35%;
  height: 100vh;
  background-color: #fff;
}

.invoice__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 30px);
  padding: 15px;
}

.invoice__additional-items {
  display: flex;
  flex-direction: column;
}

.invoice__additional-items__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  border: 1.6px solid #f5f5f5;
  border-radius: 10px;
  padding: 2.5px;
}

.invoice__additional-items__item__img {
  width: 55px;
  height: 55px;
  min-width: 55px;
  min-height: 55px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.invoice__additional-items__item__info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  justify-content: space-between;
  width: 100%;
}

.invoice__additional-items__item__info__title {
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
}

.invoice__additional-items__item__info__price-quantity {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.invoice__additional-items__item__info__price {
  font-family: "Montserrat-SemiBold";
  font-size: 15px;
}

.invoice__additional-items__item__info__quantity {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #000;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  padding: 1px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.invoice__additional-items__item__info__quantity__button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "Montserrat-Medium";
  color: #fff;
  font-size: 20px;
}

.invoice__additional-items__item__info__quantity__number {
  font-family: "Montserrat-Medium";
  font-size: 15px;
  color: #fff;
}

.invoice__receipt {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  border: 1.6px solid #f5f5f5;
}

.invoice__receipt__title {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
  margin-bottom: 10px;
}

.invoice__receipt__payment-methods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.invoice__receipt__payment-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 65px;
  border: 1.6px solid #f5f5f5;
  border-radius: 7.5px;
}

.invoice__receipt__payment-method-active {
  background-color: #000;
  border: 1.6px solid transparent;
}

.invoice__receipt__payment-method__name {
  font-family: "Montserrat-SemiBold";
  font-size: 13px;
  margin-top: 7.5px;
  color: #8392a7;
}

.invoice__receipt__payment-method__name-active {
  color: #fff;
}

.invoice__receipt__info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.invoice__receipt__info__amount-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 4px;
}

.invoice__receipt__info__amount-row__title {
  font-family: "Montserrat-Medium";
  font-size: 14px;
  color: #8392a7;
}

.invoice__receipt__info__amount-row__amount {
  font-family: "Montserrat-SemiBold";
  font-size: 15px;
}

.invoice__receipt__info__amount-row__total {
  font-family: "Montserrat-SemiBold";
  font-size: 15px;
}

.invoice__receipt__info__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-top: 1.6px dashed #f5f5f5;
  padding-top: 10px;
}

.invoice__receipt__info__total__title {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
  color: #8392a7;
}

.invoice__receipt__info__total__amount {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
}

.invoice__receipt__info__pay-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  font-family: "Montserrat-SemiBold";
  font-size: 15px;
  color: #fff;
}