#root {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.sidebar {
  display: flex;
  flex-direction: column;
  float: left;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
}

