.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eff2f7;
}

.welcome__select-purchase-method {
  font-family: "Montserrat-SemiBold";
  font-size: 40px;
  color: #000;
}

.welcome__shopping-method-container {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  gap: 25px;
}

.welcome__shopping-method {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.welcome__shopping-method-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 15px;
}

.welcome__shopping-method-option {
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  color: #c6cacd;
  margin-top: 10px;
  text-transform: uppercase;
}

.welcome__shopping-method-title {
  font-family: "Montserrat-SemiBold";
  font-size: 18px;
  color: #000;
}

.welcome__shopping-method-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.welcome__shopping-method-icon {
  height: 110px;
  width: auto;
}

.welcome__select-language-title {
  font-family: "Montserrat-SemiBold";
  font-size: 20px;
  color: #000;
  margin-top: 25px;
}

.welcome__select-language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.welcome__language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  gap: 15px;
}

.welcome__language-flag {
  font-family: "NotoColorEmoji";
  font-size: 24px;
}

.welcome__language-flag-img {
  height: 20px;
  width: auto;
}

.welcome__language-title {
  font-family: "Montserrat-SemiBold";
  font-size: 15px;
  color: #000;
}